In [4]:
import pandas as pd

In [5]:
data = pd.read_csv('branch_operations.csv', sep=";")
baseline = data['TimeAbs'].iloc[0]
data['TimeRel'] = data['TimeAbs'] / baseline
data['TimeRel'] = data['TimeRel'].round(2)
data['Speedup'] = (baseline / data['TimeAbs']).round(2)
data

             Test  TimeAbs      Count  TimeRel  Speedup
0  BranchBackward     2241  100000000     1.00     1.00
1   BranchForward     2489  100000000     1.11     0.90
2       BranchLOB     1992  100000000     0.89     1.12
3       BranchCBZ     2489  100000000     1.11     0.90

In [6]:
data.to_csv('branch_operations_with_rel.csv', sep=";", index=False)